@import './base/global';

page {
  background: linear-gradient(to bottom, #FF603D, #F00832);
  padding: 76rpx 30rpx 0;
  box-sizing: border-box;
}

.orderDetail {
  border-radius: 10rpx;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  .payDone {
    position: absolute;
    display: none;
    width: 76rpx;
    height: 76rpx;
    top: 38rpx;
    left: 50%;
    margin-left: -38rpx;
  }
  .header {
    padding: 50rpx 30rpx 40rpx;
    background-color: #F4F2F2;
    @extend %flex-between;
    image {
      width: 216rpx;
      height: 144rpx;
      margin-right: 12rpx;
    }
    .content {
      flex: 1;
      @extend %flex-between;
      flex-direction: column;
      .name {
        font-size: 32rpx;
      }
      view {
        line-height: 1;
        @extend %flex-between;
        align-items: flex-end;
      }
    }
  }
  .price {
    color: #000;
  }
  .body {
    position: relative;
    text-align: center;
    padding: 60rpx 0 55rpx;
    border-bottom: 4rpx dashed #F31534;
    .status {
      position: absolute;
      right: 100rpx;
      top: -30rpx;
      line-height: 92rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      @include circle(100rpx);
      border: 4rpx solid #B2B2B2;
      text-align: center;
      transform: rotate(30deg);
      margin-right: -10rpx;
      text {
        display: inline-block;
        @include circle(88rpx);
        border: 2rpx solid #B2B2B2;
      }
    }
    image {
      width: 240rpx;
      height: 240rpx;
    }
    .code {
      display: block;
      font-size: 40rpx;
      margin-top: 12rpx;
      margin-bottom: 20rpx;
    }
    view {
      color: #8A8C92;
      line-height: 1.8;
      display: inline-block;
      text-align: left;
      text {
        display: block;
      }
    }
    .dot {
      display: inline-block;
      width: 14rpx;
      height: 14rpx;
      border-radius: 100%;
      margin-right: 14rpx;
      background-color: #FFC121;
    }
  }
  .footer {
    @extend %flex-between;
    padding: 30rpx;
    position: relative;
    .semicircle {
      width: 36rpx;
      height: 36rpx;
      border-radius: 100%;
      background-color: #F31534;
      position: absolute;
      left: -18rpx;
      top: -18rpx;
      &.right {
        left: auto;
        right: -18rpx;
      }
    }
    .shopicon {
      @include circle(84rpx);
      margin-right: 20rpx;
    }
    view {
      flex: 1;
      color: #606470;
      .shopname {
        display: block;
        margin-bottom: 15rpx;
        line-height: 1;
        font-size: 32rpx;
        font-weight: bold;
        color: #2F323A;
      }
      .mark {
        width: 18rpx;
        height: 22rpx;
        vertical-align: baseline;
        margin-right: 8rpx;
      }
    }
    .mobile {
      width: 28rpx;
      height: 40rpx;
      align-self: center;
      margin-left: 60rpx;
    }
  }
}

.shoplist {
  border-top: 2rpx solid #E5E5E5;
  @extend %flex-between;
  align-items: center;
  padding: 30rpx;
  .shopicon {
    width: 36rpx;
    height: 32rpx;
    margin-right: 12rpx;
  }
  text {
    flex: 1;
    font-size: 28rpx;
    color: #606470;
  }
  .arrow {
    width: 16rpx;
    height: 24rpx;
  }
}

.done, .expire {
  color: #8A8C92;
  .price {
    color: #8A8C92;
  }
}

.tip {
  color: #fff;
  font-size: 26rpx;
  margin-top: 24rpx;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text {
    vertical-align: middle;
  }
  .star {
    font-size: 48rpx;
    margin-right: 10rpx;
  }
}
