var formatCurrency = function (number) {
  if (isNaN(number)) return
  if (number % 100 === 0) {
    number = (number / 100).toFixed(2)
  } else {
    number = Number((number / 100).toFixed(2))
  }
  return number
}

var formatDate = function (string) {
  if (!string) return
  var reg = getRegExp('\s')
  var lineReg = getRegExp('-', 'g')
  string = string.split(reg)[0]
  string = string.replace(lineReg, '.')
  return string
}

var formatTime = function (string) {
  if (!string) return
  var hour = parseInt(string.substring(0, 2))
  var suffix = hour < 12 ? 'am' : 'pm'
  string = string.substring(0, 5) + suffix
  return string
}

var formatStatus = function (number) {
  if (isNaN(number)) return
  switch (number) {
    case 0:
      return 'order'
    case 1:
      return 'done'
    case 2:
      return 'expire'
    default:
      return 'order'
  }
}

module.exports = {
  formatCurrency: formatCurrency,
  formatDate: formatDate,
  formatTime: formatTime,
  formatStatus: formatStatus
}
